# Name: barrel_

# Interactive barrel distortion correction

# Author: Stephan Saalfeld <saalfeld@mpi-cbg.de>
# Version: 0.0.2-SNAPSHOT
# Date: 2015/11/17
# Requires: ImageJ 1.48c

Plugins>Transform, "Barrel Distortion Correction", org.janelia.saalfeldlab.ij.plugin.BarrelDistortion
Plugins>Transform, "Barrel Distortion Correction (xy)", org.janelia.saalfeldlab.ij.plugin.BarrelDistortionXY
